@font-face {
  font-family: "Oswald";
  src: url(https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap)
    format ("Oswald");
}

body {
  background-color: white;
  font-family: "open sans", "verdana", "sans-serif";
}

h1 {
  font-family: Oswold, sans-serif;
  color: #000;
  font-size: 40px;
}
h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}
.header {
  padding: 40px;
  text-align: center;
  background: #bac5cf;
  color: white;
  font-size: 30px;
}
.logo-header {
  max-width: 500px;
  border-radius: 0%;
  margin: 1px 1px 1px 5px;
  float: center;
  background-color: #bac5cf;
}

.navbar {
  width: 100%;
  background-color: #1b203d;
  overflow: hidden;
}
.navbar a {
  color: #ffffff;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
  float: left;
  font-size: 17px;
}
.dropdown a {
  color: #ffffff;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  float: left;
  font-size: 17px;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 11px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #fab038;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color:#fab038;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px solid #e7e7e7;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 15px;
  overflow: hidden;
  background-color: #1b203d;
  border-radius: 0px 0px 5px 0px;
  text-align: center;
}
}
.navbar a.active {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  color: #fff;
}
.class {
  padding: 10px;
}

.main {
  margin: 10px;
}
.text-picture {
  max-width: 350px;
  float: right;
  margin: 0px 20px 0px 20px;
  border-radius: 1%;
}
