@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  font-family: "oswald", sans-serif;
}
header {
  background-color: #bac5cf;
  min-height: 80px;
}
.logo {
  max-width: 100px;
  margin: 8px 25px 0px 5px;
}

/* navbar hamburger-menu */
nav,
#hamburger-menu {
  display: none;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
}

nav a {
  text-decoration: none;
  color: #1b203d;
  padding: 10px;
  display: block;
}

nav a:hover {
  text-decoration: underline;
}
.hamburger-label {
  float: right;
  color: #1b203d;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}
.ikons {
  padding: 10px;
  font-size: 1.5em;
  display: inline-block;
  float: right;
}

.ikons a {
  color: #1b203d;
  padding: 2px;
}

.ikons a:hover {
  color: #fab038;
}

@media (min-width: 700px) {
  .logo {
    float: left;
  }
  nav {
    display: inline-block;
  }
  .hamburger-label {
    display: none;
  }

  ul {
    display: flex;
  }
  li {
    display: inline-block;
    margin: 0px 0px;
  }
  nav a {
    padding: 2px 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    text-align: center;
  }

  .ikons {
    font-size: 30px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px;
    color: #1b203d;
    float: right;
    display: block;
  }
}

/* Header image with text */
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  font-family: "Oswald", sans-serif;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 0px;
  font-size: 40px;
}
.container .bottom-left {
  position: absolute;
  bottom: 30;
  background: rgb(0, 0, 0);
  background: rgba(10, 10, 10, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px 0px;
}

/* Main .section .intro*/
main {
  margin: 30px;
}
#img-intro {
  float: right;
  margin: 5px;
  display: inline-block;
}
