@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  font-family: "oswald", sans-serif;
  background-color: #f5f5f5;
}
header {
  background-color: #bac5cf;
  min-height: 82px;
  border-radius: 5px 5px 0px 0px;
}
.logo {
  max-width: 150px;
  margin: 5px 25px 10px 5px;
}
* {
  box-sizing: border-box;
}
/* GAME DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 2px 20px;
  font-weight: bold;
  font-family: "oswald";
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  border-left: 1px solid #8e8e8e;
  color: #1b203d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* navbar hamburger-menu */
nav,
#hamburger-menu {
  display: none;
}

.logo {
  max-width: 130px;
  text-align: center;
  display: block;
  position: relative;
  margin: 0px auto;
  padding: 5px;
}
nav ul {
  padding: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 0;
  margin-right: 5px;
}

nav a {
  text-decoration: none;
  color: #1b203d;
  display: block;
  font-family: "oswald";
  font-weight: bold;
  border-left: 1px solid #8e8e8e;
  display: inline-block;
  padding: 2px 20px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
}
.hamburger-label {
  float: left;
  color: #1b203d;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

form.example input[type="text"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid grey;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  float: left;
  width: 70%;
  background: #ffffff;
  text-align: center;
  margin: 15px 0px 10px 20px;
}

form.example button {
  width: 15%;
  padding: 5px;
  background: #1b203d;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  margin: 15px 0px 10px 0px;
}
form.example button:hover {
  background: #fab038;
}
/* FULL SCREEN NAV */
@media (min-width: 800px) {
  .logo {
    float: left;
    max-width: 100px;
    margin: 5px 25px 10px 5px;
  }

  nav {
    display: inline-block;
    float: right;
  }
  .hamburger-label {
    display: none;
  }
  ul {
    display: flex;
  }
  li {
    display: block;
    margin: 0px 0px;
  }
  nav a {
    padding: 2px 20px;
    font-weight: bold;
    font-family: "oswald";
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    border-left: 1px solid #8e8e8e;
  }

  form.example input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    float: left;
    width: 25%;
    background: #ffffff;
    text-align: left;
    margin: 18px 0px 0px 20px;
  }

  form.example button {
    float: left;
    width: 6%;
    padding: 10px;
    background: #1b203d;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    margin: 18px 0px 0px 0px;
  }
  form.example button:hover {
    background: #fab038;
  }
}

/* Header image with text */
.container-fluid {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}
.container-fluid .bottom-left {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(10, 10, 10, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 11px;
}

/* MAIN CONTENT */

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.element {
  @include clearfix;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f5f5f5;
  display: block;
}

h1 {
  border-bottom: 1px solid #c9c9c9;
}

/* INTRO PART */
.intro {
  margin: 10px 10px 10px 15px;
  float: left;
}

.img-intro {
  float: right;
  position: relative;
  display: block;
  margin: 10px 10px 10px 20px;
  bottom: 25px;
  border: 1px solid #e8e8e8;
}

/* PRE-ORDER PART */
.preorder {
  margin: 10px 10px 150px 15px;
  display: block;
}

.img-preorder {
  float: right;
  position: relative;
  display: block;
  margin: 15px 30px 10px 45px;
  bottom: 25px;
  border: 1px solid #e8e8e8;
}

#prebutton {
  background-color: #fab038;
  color: #fff;
  padding: 13px;
  margin: 20px 25px;
  font-weight: bold;
  font-family: "oswald", sans-serif;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 250px;
  float: right;
  position: relative;
  border-radius: 8px;
}

#prebutton:hover {
  opacity: 0.8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 3px;
  background-color: #1b203d;
  color: white;
  border-top: 2px solid #8e8e8e;
}

footer a:hover {
  text-decoration: underline;
  color: #fab038;
}

/* PRE-ORDER PAGE */

#createbutton {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #fab038;
  border-radius: 8px;
  color: #fab038;
  font-family: "oswald";
  font-size: 16px;
  float: right;
  margin-top: 20px;
  text-decoration: underline;
}

#createbutton:hover {
  background-color: #fab038;
  color: #fff;
}

h2 {
  text-decoration: underline;
}
.newgame {
  margin: 10px 10px 150px 15px;
  display: block;
}

.img-preorder2 {
  float: left;
  position: relative;
  display: block;
  margin: 15px 30px 10px 0px;
  bottom: 25px;
  border: 1px solid #e8e8e8;
}

.img-preorder3 {
  float: left;
  position: relative;
  display: block;
  margin: 15px 30px 10px 0px;
  bottom: 25px;
  border: 1px solid #e8e8e8;
}

.stars3 {
  background-color: #000000;
  color: #fab038;
}

#star {
  color: #fab038;
}

#blank {
  color: #8e8e8e;
}

/* SELL YOUR GAME PAGE */
.intro-sell {
  margin: 10px 10px 15px 15px;
  padding-bottom: 10px;
}
.img-sellgame {
  float: right;
  position: relative;
  display: block;
  margin: 30px 30px 10px 45px;
  bottom: 25px;
  border: 1px solid #e8e8e8;
}
.sellform {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px 10px 15px 15px;
  font-size: 20px;
}

form.selling input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "oswald";
}

.sellbutton {
  width: 100%;
  background-color: #fab038;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: "oswald";
}

form.selling input[type="file"] {
  font-size: 16px;
  font-family: "oswald";
}

/* GAME PAGE */

.games h1 {
  text-align: center;
}
li {
  display: inline-block;
}

#newgames,
#usedgames,
#allgames {
  text-align: center;
  padding: 10px 35px;
  font-size: 18px;
  margin: 10px 20px;
  background-color: #1b203d;
  color: #fab038;
}

#newgames:hover,
#usedgames:hover,
#allgames:hover {
  opacity: 0.6;
}

.games:active {
  background-color: #ffffff;
  color: #fab038;
}
#games {
  display: block;
  margin: auto;
  text-align: center;
}

/* FLEX BOX PRODUCTS */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}
.product-items {
  margin: 15px;
}
.btn-cart {
  padding: 5px;
  background-color: #fab038;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  border: 1px solid #fa9b00;
}

.btn-buy {
  padding: 5px;
  background-color: #00bf25;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  border: 1px solid #00a520;
}

.btn-cart:hover,
.btn-buy:hover {
  opacity: 0.6;
}

.sm-title {
  margin-bottom: 2px;
}

.rating span {
  color: #fab038;
}
